![NYC Skyline](data/nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [1]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

# Begin coding here ...
#load the files into a pandas dataframe
price = pd.read_csv("./data/airbnb_price.csv")
room_type = pd.read_excel("./data/airbnb_room_type.xlsx")
review = pd.read_table("./data/airbnb_last_review.tsv")

display(price.head())
display(room_type.head())
review.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [2]:
#explanatory data analysis
display(price.info())
display(room_type.info())
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [3]:
#check for null values
display(price.isna().sum())
display(room_type.isna().sum())
review.isna().sum()

listing_id     0
price          0
nbhood_full    0
dtype: int64

listing_id      0
description    10
room_type       0
dtype: int64

listing_id     0
host_name      8
last_review    0
dtype: int64

In [4]:
#investigate null values in the room_type and review dataframe
room_type["description"]
review[review["host_name"].isna()]
#drop the null rows
room_type.dropna(subset = "description", axis = 0, inplace =True)
review.dropna(subset = "host_name", axis = 0, inplace = True)

room_type.isna().sum()
review.isna().sum()

listing_id     0
host_name      0
last_review    0
dtype: int64

What are the dates of the earliest and most recent reviews?

In [5]:
review["last_review"].dtype
#convert the last_review column to datetime
review["last_review"] = pd.to_datetime(review["last_review"])
#sort the dataframe based on the date in ascending order
review.sort_values("last_review", ascending =True, inplace = True)
#get the earliest and most recent reviews
earliest_review = review.iloc[0, -1]
most_recent_review = review.iloc[-1, -1]

How many of the listings are Private Rooms?

In [6]:
#modify the room_types to be consistent 
room_type["room_type"] = room_type["room_type"].str.lower().str.strip()
display(room_type["room_type"].value_counts())
#find the number of private rooms listed
room_counts = room_type["room_type"].value_counts()
private_rooms = room_counts.loc["private room"]
private_rooms

entire home/apt    13266
private room       11346
shared room          587
Name: room_type, dtype: int64

11346

What is the average listing price to the nearest penny

In [7]:
price["price"] = price["price"].str.replace(" dollars","").astype("int")
average_listing_price = round(price["price"].mean(), 2)
print(f"The average listing price is {average_listing_price} dollars")

The average listing price is 141.78 dollars

Create a dataframe with one row containing columns of the first reviewed date, last reviewed date, number of private rooms and the average listing pricing of the rooms

In [8]:
review_dates = pd.DataFrame(data = {
    "first_reviewed": earliest_review,
    "last_reviewed": most_recent_review,
    "nb_private_rooms": private_rooms,
    "avg_price" : average_listing_price
}, index = [0])
#review_dates["avg_price"] = review_dates["avg_price"].astype("str") + " dollars"
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11346     141.78